@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  /*background: #42f492;*/
  background: #2a2338;
  padding: 0;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 2.5px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #fff;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 11px;
  line-height: 11px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #777;
}

h4 {
  margin: 0 0 0 0;
  padding: 0;
  font-size: 14px;
  line-height: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #fff;
}

h5 {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 13px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #6d6d6d;
}

h6 {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 13px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #f0f0f0;
}

.screen {
  background: rgb(6, 6, 9);
  padding: 0;
  min-height: 432px;
  height: 615px;
  /*each song is 49.439px*/
  width: 299px;
  position: relative;
  left: 50%;
  top: 80px;
  transform: translate(-50%, 0);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  margin: 30px 0;
}


input[type="checkbox"]:checked:after {
  background: green !important;
  color: black !important;
  box-shadow: none !important;
}

.screen > .magicButton:checked ~ .coverImage {
  transform: scale(0.0001, 0.0001);
  left: 160px;
  top: 80px;
  transition: all 0.3s ease-in;
}

.screen > .magicButton:unchecked ~ .containPre {
  color: #111;
  opacity: 30;
  left: 50%;
  transform: translate(-50%,0%);
}



.screen > .magicButton:checked ~ .containPre {
  color:white;
  opacity:30;
  left: 50%;
  top: 10px;
  transform: translate(-50%,0%);
  transition: all 0.3s ease-in;
}

.screen > .magicButton:checked ~ .bodyPlayer {
  height: 470px;
  left: 0;
  top: 180px;
  transition: all 0.3s ease-in;
}


.screen > .magicButton:checked ~ .bar {
  top: 119px;
  left: 126px;
  transform: scale(0.6875, 0.6875);
  transition: all 0.3s ease-in;
}

.screen > .magicButton:checked ~ .info {
  top: 66px;
  left: 126px;
  text-align: left;
  transition: all 0.3s ease-in;
}

.screen > .magicButton:checked ~ .info h4 {
  margin-left: 0;
  font-size: 16px;
  color: #111111;
  transition: all 0.3s ease-in;
}

.screen > .magicButton:checked ~ .player {
  bottom: 4px;
  left: -44px;
  transform: scale(0.45, 0.45);
  transition: all 0.3s ease-in;
}


.coverImage {
  width: 300px;
  height: 300px;
  padding: 0;
  bottom: 20px;
  margin-top: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  transform:translate(-50%,0%);
  z-index: 1000;
  transform-origin: 0% 0%;
  transition: all 0.3s ease-in;
}

.bodyPlayer {
  position: absolute;
  top: 300px;
  left: 0;
  margin: 0;
  padding: 0;
  height: 350px; 
  width: 100%;
  background: rgb(6, 6, 9);
  transition: all 0.3s ease-in;
}

.search:before {
  position: absolute;
  top: 23px;
  right: 23px;
  font-family: FontAwesome;
  content: '\f002';
  color: #959595;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s ease-in;
}
.search:hover:before {
  color: #bbb;
}
.scrollcontainer {
  height: 100%;
  width: 100%;
  position: relative;
  left: 50%;
  transform: translate(-50%,0%);
}

.listcontainer {
  position: absolute;
  left: 50%;
  top: 430px;
  transform: translate(-50%,0%);
  width: 100%;
}
.list {
  position:relative;
  left: 50%;
  transform: translate(-50%,0%);
}

.songEntry {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 6px 0px;
  cursor: pointer;
  width: 100%;
  height:100%;
}

.num {
  width: 5%;
  text-align: center;
  padding: 5px 2.5px 5px 7.5px;
  position: relative;
  top: 10px;
}

.num h5 {
  font-size: 11px;
  font-weight: 300;
  color:#888;
}

.length {
  width: 12%;
  text-align: center;
  padding: 5px 3px 5px 0px;
  position: relative;
  top: 0px;
}

.length h5 {
  font-size: 11px;
  font-weight: 300;
  color: #888;
}
.title {
  width: 60%;
  padding: 5px 0px 5px 10px;
  position: relative;

}

.title h6{
  font-size: 13px;
  font-weight: 300;
  display: inline;
}

.title h6:hover {
  color: #42f492;
  transition: 'all 0.15s linear'
}

.artistName {
  width: 75%;
  padding-left: calc(5% + 20px);
  position:relative;
}

.artistName h6{
  font-size: 11px;
  font-weight: 300;
  color: #888;
}

.shadow {
  background: rgba(17, 17, 17, 0.8);
  width: 366px;
  height: 50px;
  position: absolute;
  bottom: -12px;
  left: 0;
  box-shadow: 0px -15px 40px rgba(17, 17, 17, 0.8);
}

.bar {
  background: url('http://imgh.us/bar_3.svg') no-repeat;
  background-size: 100%;
  width: 320px;
  height: 21px;
  position: absolute;
  top: 407px;
  left: 23px;
  transform-origin: 0% 0%;
  transition: all 0.3s ease-in;
}

.info {
  width: 157px;
  position: absolute;
  left: 104px;
  top: 440px;
  transition: all 0.3s ease-in;
}

.table {
  top: 500px;
}

.player {
  background: none;
  text-align: center;
  font-family: FontAwesome;
  color: #fff;
  font-size: 26px;
  line-height: 26px;
  width: 216px;
  height: 35px;
  top: 380px;
  position: absolute;
  left: 50%;
  right: 40px;
  transform: translate(-50%, 0);
  z-index: 10;
  transition: all 0.3s ease-in;
  border-spacing: 0;
}

.player td {
  width: 72px;
}

.playerBody {
  top: 200px;
}

.back:before {
  content: "\f04a";
  cursor: pointer;
  color: white;
  transition: all 0.15s linear;
}

.back:hover:before {
  color: #bbb;
  transition: all 0.15s linear;
}

.play:before {
  content: "\f04b";
  cursor: pointer;
  transition: all 0.15s linear;
}

.play:hover:before {
  color: #bbb;
  transition: all 0.15s linear;
}

.fore:before {
  content: "\f04e";
  cursor: pointer;
  transition: all 0.15s linear;
}

.fore:hover:before {
  color: #bbb;
  transition: all 0.15s linear;
}

.footer {
  background: none;
  font-family: FontAwesome;
  color: #6d6d6d;
  font-size: 15px;
  line-height: 15px;
  height: 45px;
  width: 360px;
  position: absolute;
  bottom: 10px;
  left: 23px;
  z-index: 20;
  transition: all 0.15s linear;
  transition: bottom 0.3s linear;
}

.searchInputBox {
  width:80%;
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translate(-50%,0%);
  background: none;
  border:none;
  border-bottom:1px solid #444;
  outline:none;
  color:#ddd;
}

.containPre {
  position: relative;
  opacity:0;
  text-align: center;
  width:300;
  top: 50px;
  left: 50%;
  transform:translate(-50%,0%);
  margin: 0 auto;
  bottom: 100px;
}
.userMessageContainer {
  color: #42f492;
  font-weight: 300;
  font-size: 12px;
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translate(-50%,0%);
  width: 100%;
  text-align: center;
  z-index: 100;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.progresscontainer {
  position: absolute;
  left: 50%;
  top: 320px;
  transform: translate(-50%,0%);
  width:300px;
  height:3px;
  margin: 0 auto;
}

.message {
  height: 20px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

.controls {
  background: #333;
  padding: 8px;
}

.button {
  color: white;
  width: 20px;
  margin: 3px 0 0 0;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
}

.track {
  position: absolute;
  width: 300px;
  left: 0px;
  margin: 0 auto;
  height: 3px;
  display: inline-block;
  vertical-align: top;
}

.progress {
  position: absolute;
  width: 0%;
  height: 100%;
  background: #42f492;
}

.running{
  position: absolute;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:12px;
  color: #888;
  font-weight: 300;
  left:10px;
  top: 8px;
}

.endTime{
  position: absolute;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #888;
  left: 270px;
  top: 8px;
}

.inputBox{
  text-align:center;
  top: 500px;
}

.newTracks {
  text-align:center;
  margin-top: 50px;
  margin-bottom: 15px;
  color:white;
}

.songArtistContainer {
  text-align: center;
  color: white;
  position: absolute;
  top: 325px;
  left: 50%;
  transform: translate(-50%,0%);
  width: 300px;
}
.song {
  text-align: center;
  padding: 8px 0px 2px 0px;
  color: #fff;
}

.song h4 {
  position: relative;
  left: 50%;
  transform: translate(-50%,0%);
  font-size: 15px;
  width: 50%;
  font-weight: 300;

}

.artist {
  text-align: center;
}

.artist h5{
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%,0%);
  font-size: 12px;
  color: #42f492;
  padding-top: 4px;
  width: 50%;
  font-weight: 300;
}

.threeResultsContainer {
  position:relative;
  text-align:center;
  bottom: 5px;
  font-size: 12px;
  padding:20px;
  margin: 0 auto;
  width:100%;
  height:100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px 0px;

}
.threeResultsContainer div{
  padding: 10px 0px;
}

.searchMode {
  font-size: 9.5px;
  margin: 0 auto;
  float:right;
  position: absolute;
  top: 3px;
  left: 22px;
  color: #ddd;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.coverContainer {
  width:304px;
  height: 150px;
}

.tableEntryDiv {
  width: 100%;
  height:100%;
}

















