@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  /*background: #42f492;*/
  background: #111;
  /*background: rgb(6, 6, 9);*/
  padding: 0;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

@keyframes harlem {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
  }
  20% {
    transform: scale(1.03, 1);
    -webkit-transform: scale(1.03, 1);
    -moz-transform: scale(1.03, 1);
    -o-transform: scale(1.03, 1);
    -ms-transform: scale(1.03, 1);
  }
  40% {
    transform: scale(0.97, 1);
    -webkit-transform: scale(0.97, 1);
    -moz-transform: scale(0.97, 1);
    -o-transform: scale(0.97, 1);
    -ms-transform: scale(0.97, 1);
  }
  60% {
    transform: scale(1.01, 1);
    -webkit-transform: scale(1.01, 1);
    -moz-transform: scale(1.01, 1);
    -o-transform: scale(1.01, 1);
    -ms-transform: scale(1.01, 1);
  }
  80% {
    transform: scale(0.99, 1);
    -webkit-transform: scale(0.99, 1);
    -moz-transform: scale(0.99, 1);
    -o-transform: scale(0.99, 1);
    -ms-transform: scale(0.99, 1);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
  }
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 2.5px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #fff;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 11px;
  line-height: 11px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #777;
}

h4 {
  margin: 0 0 0 0;
  padding: 0;
  font-size: 14px;
  line-height: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #fff;
}

h5 {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 13px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #6d6d6d;
}

h6 {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 13px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #f0f0f0;
}


label.main:before {
  position: absolute;
  top: 23px;
  left: 23px;
  font-family: FontAwesome;
  content: '\f0c9';
  color: #959595;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s ease-in;
}

label.main:hover:before {
  color: #bbb;
}

label.zmr:before {
  font-family: FontAwesome;
  content: "\f08a";
  color: #777;
  font-size: 15px;
  line-height: 15px;
  cursor: pointer;
  z-index: 10;
  transition: all 0.15s linear;
}


.screen {
  background: rgb(6, 6, 9);
  padding: 0;
  min-height: 432px;
  height: 615px;
  /*each song is 49.439px*/
  width: 299px;
  position: relative;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  margin: 30px 0;
}

.screen > .magicButton:checked ~ .coverImage {
  transform: scale(0.0001, 0.0001);
  left: 160px;
  top: 80px;
  transition: all 0.3s ease-in;
}

.screen > .magicButton:unchecked ~ .testing {
  color: #111;
  opacity: 30;
  left: 50%;
  transform: translate(-50%,0%);
}



.screen > .magicButton:checked ~ .testing {
  color:white;
  opacity:30;
  left: 50%;
  top: 10px;
  transform: translate(-50%,0%);
  transition: all 0.3s ease-in;
}

/*.screen > .magicButton:unchecked ~ .threeResultsContainer {
  color: #111;
  opacity: 30;
}

.screen > .magicButton:checked ~ .threeResultsContainer {
  color:#111;
  opacity:30;
  left: 0;
  top: 70px;
  transition: all 0.3s ease-in;
}
*/
.screen > .magicButton:checked ~ .bodyPlayer {
  height: 470px;
  left: 0;
  top: 180px;
  transition: all 0.3s ease-in;
}


.screen > .magicButton:checked ~ .bar {
  top: 119px;
  left: 126px;
  transform: scale(0.6875, 0.6875);
  transition: all 0.3s ease-in;
}

.screen > .magicButton:checked ~ .info {
  top: 66px;
  left: 126px;
  text-align: left;
  transition: all 0.3s ease-in;
}

.screen > .magicButton:checked ~ .info h4 {
  margin-left: 0;
  font-size: 16px;
  color: #111111;
  transition: all 0.3s ease-in;
}

.screen > .magicButton:checked ~ .player {
  bottom: 4px;
  left: -44px;
  transform: scale(0.45, 0.45);
  transition: all 0.3s ease-in;
}


.coverImage {
  width: 300px;
  height: 300px;
  padding: 0;
  bottom: 20px;
  margin-top: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  transform:translate(-50%,0%);
  z-index: 1000;
  transform-origin: 0% 0%;
  transition: all 0.3s ease-in;
}

.bodyPlayer {
  position: absolute;
  top: 300px;
  left: 0;
  margin: 0;
  padding: 0;
  height: 350px; 
  width: 100%;
  /*background: #111;*/
  /*background: #282828;*/
  background: rgb(6, 6, 9);
  transition: all 0.3s ease-in;
}

/*height: 470px;
  left: 0;
  top: 180px;
  transition: all 0.3s ease-in;*/

.search:before {
  position: absolute;
  top: 23px;
  right: 23px;
  font-family: FontAwesome;
  content: '\f002';
  color: #959595;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s ease-in;
}
.search:hover:before {
  color: #bbb;
}
.scrollcontainer {
  height: 100%;
  width: 100%;
  position: relative;
  left: 50%;
  transform: translate(-50%,0%);
}

.listcontainer {
  position: absolute;
  left: 50%;
  top: 430px;
  transform: translate(-50%,0%);
  width: 100%;
}
.list {
  position:relative;
  left: 50%;
  transform: translate(-50%,0%);
}

.songEntry {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 6px 0px;
  cursor: pointer;
}
.nr {
  width: 5%;
  text-align: center;
  padding: 5px 2.5px 5px 7.5px;
  position: relative;
  top: 10px;
}
.nr h5 {
  font-size: 11px;
  font-weight: 300;
  color:#444;
}
.title {
  width: calc(100% - 17% - 23px);
  padding: 5px 0px 5px 10px;
  cursor: pointer;
}
.title:hover {
  color: #42f492;
  cursor: pointer;
}
.title h6{
  font-size: 13px;
  font-weight: 300;
  color: #eee;
  cursor: pointer;
}
.length {
  width: 12%;
  text-align: center;
  padding: 5px 3px 5px 0px;
  position: relative;
  top: 0px;
}
.length h5 {
  font-size: 11px;
  font-weight: 300;
  color:#444;
}
.artistName {
  padding-left: calc(5% + 20px);
  width: 100%;
}
.artistName h6{
  font-size: 11px;
  font-weight: 300;
  color: #888;
}

td > .heart:checked ~ label.zmr:before {
  content: "\f004";
  color: #42f492;
  transition: all 0.15s linear;
}

td > .heart1:checked ~ label.zmr:before {
  content: "\f004";
  color: #42f492;
  transition: all 0.15s linear;
}

td > .heart2:checked ~ label.zmr:before {
  content: "\f004";
  color: #42f492;
  transition: all 0.15s linear;
}

td > .heart3:checked ~ label.zmr:before {
  content: "\f004";
  color: #42f492;
  transition: all 0.15s linear;
}

td > .heart4:checked ~ label.zmr:before {
  content: "\f004";
  color: #42f492;
  transition: all 0.15s linear;
}

td > .heart5:checked ~ label.zmr:before {
  content: "\f004";
  color: #42f492;
  transition: all 0.15s linear;
}

td > .heart6:checked ~ label.zmr:before {
  content: "\f004";
  color: #42f492;
  transition: all 0.15s linear;
}

td > .heart7:checked ~ label.zmr:before {
  content: "\f004";
  color: #42f492;
  transition: all 0.15s linear;
}

td > .heart8:checked ~ label.zmr:before {
  content: "\f004";
  color: #42f492;
  transition: all 0.15s linear;
}

td > .play:checked ~ label.play:before {
  content: "\f04c";
  transition: all 0.15s linear;
}

td > .love:checked ~ label.love:before {
  content: "\f004";
  color: #42f492;
  transition: all 0.15s linear;
}

td > .shuffle:checked ~ label.shuffle:before {
  color: #42f492;
  transition: all 0.15s linear;
}

td > .repeat:checked ~ label.repeat:before {
  color: #42f492;
  transition: all 0.15s linear;
}


.shadow {
  background: rgba(17, 17, 17, 0.8);
  width: 366px;
  height: 50px;
  position: absolute;
  bottom: -12px;
  left: 0;
  box-shadow: 0px -15px 40px rgba(17, 17, 17, 0.8);
}


.bar {
  background: url('http://imgh.us/bar_3.svg') no-repeat;
  background-size: 100%;
  width: 320px;
  height: 21px;
  position: absolute;
  top: 407px;
  left: 23px;
  transform-origin: 0% 0%;
  transition: all 0.3s ease-in;
}

.info {
  width: 157px;
  position: absolute;
  left: 104px;
  top: 440px;
  transition: all 0.3s ease-in;
}


.player {
  background: none;
  text-align: center;
  font-family: FontAwesome;
  color: #fff;
  font-size: 26px;
  line-height: 26px;
  width: 216px;
  height: 300px;
  position: absolute;
  top: 250px;
  left: 50%;
  right: 40px;
  transform: translate(-50%, 0);
  z-index: 10;
  transition: all 0.3s ease-in;
  border-spacing: 0;
}

.player td {
  width: 72px;
}

audio {
  visibility: hidden;
}

.back:before {
  content: "\f04a";
  cursor: pointer;
  color: white;
  transition: all 0.15s linear;
}

.back:hover:before {
  color: #bbb;
  transition: all 0.15s linear;
}

.play:before {
  content: "\f04b";
  cursor: pointer;
  transition: all 0.15s linear;
}

.play:hover:before {
  color: #bbb;
  transition: all 0.15s linear;
}

.fore:before {
  content: "\f04e";
  cursor: pointer;
  transition: all 0.15s linear;
}

.fore:hover:before {
  color: #bbb;
  transition: all 0.15s linear;
}

.footer {
  background: none;
  font-family: FontAwesome;
  color: #6d6d6d;
  font-size: 15px;
  line-height: 15px;
  height: 45px;
  width: 360px;
  position: absolute;
  bottom: 10px;
  left: 23px;
  z-index: 20;
  transition: all 0.15s linear;
  transition: bottom 0.3s linear;
}

.love:before {
  content: "\f08a";
  cursor: pointer;
  transition: all 0.15s linear;
}

.love:hover:before {
  color: #bbb;
  transition: all 0.15s linear;
}


.shuffle:before {
  content: "\f074";
  cursor: pointer;
  transition: all 0.15s linear;
}

.shuffle:hover:before {
  color: #bbb;
  transition: all 0.15s linear;
}

.repeat:before {
  content: "\f01e";
  cursor: pointer;
  transition: all 0.15s linear;
}

.repeat:hover:before {
  color: #bbb;
  transition: all 0.15s linear;
}

.options:before {
  content: "\f141";
  cursor: pointer;
  transition: all 0.15s linear;
}

.options:hover:before {
  color: #bbb;
  transition: all 0.15s linear;
}

.current {
  position: absolute;
  right: 23px;
  bottom: -60px;
  transition: all 0.3s ease-in;
}
.searchInputBox {
  width:80%;
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translate(-50%,0%);
  background: none;
  border:none;
  border-bottom:1px solid #444;
  outline:none;
  color:#ddd;
}

.testing {
  position: relative;
  opacity:0;
  text-align: center;
  width:300;
  top: 50px;
  left: 50%;
  transform:translate(-50%,0%);
  margin: 0 auto;
  bottom: 100px;
}
.userMessageContainer {
  color: #444;
  font-weight: 300;
  font-size: 12px;
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translate(-50%,0%);
  width: 100%;
  text-align: center;
  z-index: 100;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.progresscontainer {
  position: absolute;
  left: 50%;
  top: 320px;
  transform: translate(-50%,0%);
  width:300px;
  height:3px;
  margin: 0 auto;
}

.message {
  height: 20px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

.controls {
  background: #333;
  padding: 8px;
}

.button {
  color: white;
  width: 20px;
  margin: 3px 0 0 0;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
}

.track {
  position: absolute;
  width: 300px;
  left: 0px;
  margin: 0 auto;
  height: 3px;
  display: inline-block;
  vertical-align: top;
}

.progress {
  position: absolute;
  width: 0%;
  height: 100%;
  background: #42f492;
}

.scrubber {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin: -4px 0 0 -9px;
  background: #42f492;
  border: solid 3px #ddd;
  cursor: pointer;
  box-shadow: 0 0 5px #000, inset 0 0 4px #400;
}

.running{
  position: absolute;
  font-size:12px;
  color: #888;
  font-weight: 300;
  left:10px;
  top: 8px;
}

.endTime{
  position: absolute;
  font-size: 12px;
  color: #888;
  left: 270px;
  top: 8px;
}

.inputBox{
  text-align:center;
  top: 500px;
}

.newTracks {
  text-align:center;
  margin-top: 50px;
  margin-bottom: 15px;
  color:white;
}


.songArtistContainer {
  text-align: center;
  color: white;
  position: absolute;
  top: 325px;
  left: 50%;
  transform: translate(-50%,0%);
  width: 300px;
}
.song {
  text-align: center;
  padding: 8px 0px 2px 0px;
  color: #fff;
}
.song h4 {
  position: relative;
  left: 50%;
  transform: translate(-50%,0%);
  font-size: 15px;
  width: 50%;
  font-weight: 300;
}
.artist {
  text-align: center;
}
.artist h4{
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%,0%);
  font-size: 11px;
  color: #888;
  padding-top: 4px;
  width: 50%;
  font-weight: 300;
}

.threeResultsContainer {
  color: #ddd;
  position:relative;
  text-align:center;
  bottom: 5px;
  font-size: 12px;
  padding:20px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.threeResultsContainer div{
  padding: 10px 0px;
}

.searchMode {
  font-size: 9.5px;
  margin: 0 auto;
  float:right;
  position: absolute;
  top: 3px;
  left: 22px;
  color: #ddd;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.coverContainer {
  width:304px;
  height: 150px;
}

.tableEntryDiv {
  width: 100%;
  height:100%;
}